<h1> Generate Evaluations for Project </h1>
<hr/>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3 form">
      <%= form_for("Project", url: generate_evaluations_projects_url) do |f| %> 
        
        <%= f.label "Evaluation window opens" %>
        <%= f.datetime_select  :evaluation_window_opens %>
    
        <%= f.label "Evaluation window closes" %>
        <%= f.datetime_select  :evaluation_window_opens %>
        
        <%= f.hidden_field :eval_project, value: params[:project] %>
        <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div> 
