<div class="form">
<%= form_with(model: @group, local: true) do |f| %>
  <%# <%= render 'error_messages', object: @class_session %> 

  <%= f.label :name %>
    <p>Remember: this name should be unique to this group</p>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :group_type %>
  <% if Group.all.size > 0%>
    <p>Your existing group types are: </p>
  <% end%>
  

  <ul>

  <% for i in Group.distinct.pluck(:group_type) do%>
    <li>
      <%= @groups[i].group_type %>
    </li>
  <% end%>
  </ul>

  <%= f.text_field :group_type, class: 'form-control' %>


  <%= f.hidden_field :class_session_id, value: params[:class_session_id] %>
  <%= f.submit button_text, class: "btn btn-primary btn-admin" %>
<% end %>
</div>