<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div  style="float:left;"><%= render "shared/user-pfp", :color1 => @user.color1, :color2 => @user.color2, :initial1 => @user.first_name[0].capitalize , 
      :initial2 => @user.last_name[0].capitalize %></div>
      <div  style="float:left;">  <h1>  <%= @user.first_name + " " + @user.last_name %>      </h1></div>
    </section>
  </aside>
</div>

<%if @user.student? %>
    <%= render 'evaluations/student-evaluations' %>
  <%elsif @user.admin? %>
    <%= render 'evaluations/professor-evaluations' =%>
  <% end %>

<button type="button" class="collapsible">My Classes</button>
  <div class="content">
    <% user_class_x_refs = UserClassXRef.where(user_id: @user.id) %>
    <% user_class_x_refs.each do |ref| %>
      <% user_class = ClassSession.find(ref.class_session_id) %>
      <button type="button" class="collapsible"><%= user_class.name =%></button>
      <div class="content">
        <% groups = Group.where(class_session_id: user_class.id) %>
        <% groups.each do |group| %>
          <button type="button" class="collapsible"><%= group.name =%></button>
          <div class="content">
            <% members = UserGroupXRef.where(group_id: group.id) %>
            <ul>
              <% members.each do |member| %>
                <%if !member.admin? %>
                  <li> <%= member.name =%> </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<br>
  <% if current_user.admin? %>
    <br><%= link_to "Add Class", "/class_sessions/new", class: "btn btn-lg btn-primary btn-admin" %>
  <% end%>
  
  <%= render 'shared/collapsible_script' %> 

