<div class="form">
<%= form_with(model: @project, local: true) do |f| %>
  <%# <%= render 'error_messages', object: @class_session %> 
    <%# need error handling%>

  <b>Enter a name for this project...</b><br/>
  <p>Remember: this name should be unique to this project</p>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>


  <%= f.submit button_text, class: "btn btn-primary" %>
<% end %>
</div>