<h1>Evaluation for Project <%= @project.name %></h1>
<br/>
<h2> Submitted </h2>
  <% count = 0 %>
  <% Evaluation.all.each do |evaluation| %>
    <% if evaluation.project_id = @project.id and !evaluation.submitted%>
      <% count = count + 1 %>
      
    <% end %>
  <% end %>
<br/>
<p>There are <%= count %> evaluations pending of <%= Evaluation.where(project_id: @project.id).count %> total.</p>
<br/>
<% if count > 0 %>
  <h2> Students with pending evaluations: </h2>
  <ul>
  <% students = Group.find( @project.group_id).students %>
  <% students.each do |student| %>
    <%if  student.pending_evals_for_group(Group.find(@project.group_id)).count > 0 %>
      <%= render student %>
    <%end%>
  <%end%>
  <% if current_user.admin? %>
    <h3>Evaluation Controls</h3>
    <div class = "center">
      <%= link_to "Generate Evaluations", {:controller => "evaluations", :action => "new", :project => @project }, class: "btn btn-lg btn-primary btn-admin" %>
    </div>
  <% end%>
<% end %>
</ul>

