<div class="form">
<%= form_with(model: @class_session, local: true) do |f| %>
  <%# <%= render 'error_messages', object: @class_session %> 

  <b>Enter a name for your class...</b><br/>
  <p>Remember: this name should be unique to this section</p>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>


  <%= f.submit button_text, class: "btn btn-primary" %>
<% end %>
</div>