<h1> Add Student to Group </h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 form">
      <%= form_with url: "/class_session/add_user_to_group", method: :get do |form| %> 
        
        <%= f.label :first_name %>
        <%= f.text_field  :first_name, class: 'form-control' %>
    
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %> 
        
        <%= f.label :group_name %>
        <%= f.text_field :group_name, class: 'form-control' %> 
        <%= f.submit "Add Student", class: "btn btn-primary btn-admin"  %>
      <% end %>
    </div>
  </div> 