<% provide(:title, @class_session.name) %>
<h1><%= @class_session.name %></h1>

<div class="class display">
  <h2>Professor 
  <% user_class_x_refs = UserClassXRef.where(class_session_id: @class_session.id) %>
    <% user_class_x_refs.each do |xref| %>
    <%user = User.find(xref.user_id)%>
    <% if user.admin? %>
      <%= user.first_name + " " + user.last_name %>
      </h2>
    <% end %>
  <% end %>

    <h2>Projects</h2>
  <% projects = Project.where(class_session_id: @class_session.id) %>
  <ul>
  <% projects.each do |project| %>
    <li> <%= project.name =%> </li>
  <% end %>
  </ul>
  <% if @user.admin? %>
    <h3>Project Controls</h3>
    <div class = "center">
      <%= link_to "Add Project", {:controller => "projects", :action => "new", :class_session_id => @class_session.id }, class: "btn btn-lg btn-primary btn-admin" %> 
      <%= link_to "Edit Project", "/projects/edit", class: "btn btn-lg btn-primary btn-admin" %> 
    </div>
  <% end%>
  

  <h2>Groups</h2>
  <% groups = Group.where(class_session_id: @class_session.id) %>
  <% groups.each do |group| %>
    <button type="button" class="collapsible"><%= group.name =%><%= link_to "page", group, class: "btn btn-lg btn-primary btn-admin btn-in-btn" %></button>
    <div class="content">
      <% members = group.students %>
      <ul>
        <% members.each do |member| %>
          <li> <%= member.first_name =%> </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_user.admin? %>
    <h3>Group Controls</h3>
    <div class = "center">
      <%= link_to "Add Group", {:controller => "groups", :action => "new", :class_session_id => @class_session.id }, class: "btn btn-lg btn-primary btn-admin" %>
      <%= link_to "Edit Group", "/groups/edit", class: "btn btn-lg btn-primary btn-admin" %>
    </div>
    <%end%>
  <% if current_user.admin? %>
    <h3>Student Controls</h3>
    <div class="center">
      <%= link_to "Add Student to Class", {:action => "user_class", :class_session_id => @class_session.id }, class: "btn btn-lg btn-primary btn-admin" %> 
      <%= link_to "Add Student to Group", {:action => "user_group"}, class: "btn btn-lg btn-primary btn-admin" %> 
    </div>
  <% end%>

  
</div>