<% provide(:title, @class_session.name) %>
<h1><%= @class_session.name %></h1>

<div class="class display">
  <h2>Professor 
  <% user_class_x_refs = UserClassXRef.where(class_session_id: @class_session.id) %>
    <% user_class_x_refs.each do |xref| %>
    <%user = User.find(xref.user_id)%>
    <% if user.admin? %>
      <%= user.first_name + " " + user.last_name %>
    <% end %>
  <% end %>
  </h2>


 



  <h2>Students</h2>
  <% xrefs = UserClassXRef.where(class_session_id: @class_session.id) %>
  <% xrefs.each do |xref| %>
    <%user = User.find(xref.user_id)%>
    <% if !user.admin? %>
      <%= render user%>
    <% end %>
  <% end %>
  <% if current_user.admin? %>
    <h3>Student Controls</h3>
    <div class="center">
      <%= link_to "Add Student to Class", {:action => "add_user_to_class", :class_session_id => @class_session.id }, class: "btn btn-lg btn-primary btn-admin" %> 
      <%= link_to "Add Student to Group", {:action => "add_user_to_group"}, class: "btn btn-lg btn-primary btn-admin" %> 
    </div>
  <% end%>

  
</div>