<% provide(:title, @class_session.name) %>
<h1><%= @class_session.name %></h1>

<div class="class display">
  <h2>Professor 
  <% user_class_x_refs = UserClassXRef.where(class_session_id: @class_session.id) %>
    <% user_class_x_refs.each do |xref| %>
    <%user = User.find(xref.user_id)%>
    <% if user.admin? %>
      <%= user.first_name + " " + user.last_name %>
    <% end %>
  <% end %>
  </h2>

  

  <h2>Groups</h2>
  <% groups = Group.where(class_session_id: @class_session.id) %>
  <% groups.each do |group| %>
    <button type="button" class="collapsible"><%= group.name =%></button>
    <div class="content">
      <% members = UserGroupXRef.where(group_id: group.id) %>
      <ul>
        <% members.each do |member| %>
          <li> <%= member.name =%> </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_user.admin? %>
    <h3>Group Controls</h3>
    <div class = "center">
      <%# <%= button_to "Randomize Group Members", randomize_groups, class:"btn btn-lg btn-primary btn-admin" %> 
      <%# <button id="randomize_groups" class="btn btn-lg btn-primary btn-admin" >Randomize Group Members</button> %>
      <%= link_to "Add Group", "/groups/new", class: "btn btn-lg btn-primary btn-admin" %>
      <%= link_to "Edit Group", "/groups/edit", class: "btn btn-lg btn-primary btn-admin" %>
    </div>
  <% end%>

  <h2>Students</h2>
  <% xrefs = UserClassXRef.where(class_session_id: @class_session.id) %>
  <% xrefs.each do |xref| %>
    <%user = User.find(xref.user_id)%>
    <% if !user.admin? %>
      <%= link_to user.first_name + " " + user.last_name, user %>
    <% end %>
    <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  <% end %>
  <% if current_user.admin? %>
    <h3>Student Controls</h3>
    <div class="center">
      <%= link_to "Add Student to Class", "/user_class_x_ref/new", class: "btn btn-lg btn-primary btn-admin" %> 
      <%= link_to "Add Student to Group", "/user_group_x_ref/new", class: "btn btn-lg btn-primary btn-admin" %> 
    </div>
  <% end%>

</div>

<%# <script>
  document.getElementById("randomize_groups").onclick = function(){
    @class_session.randomize_groups();
    window.location.reload();
  };
</script> %>